<h2><%= @carts.length <= 0 ? "Add items to your cart!" : '' %></h2>

 <table class="highlight">
        <thead>
          <tr>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <% @carts.each do |c| %>
          <tr>
            <td><%= link_to c.name, c %></td>
            <td>$<%= c.price%></td>
          </tr>
            <% end %>
            <tr>
            <td><b>Total</b></td>
            <td><b>$<%= Cart.sum(:price) %></b></td>
          </tr> 
        </tbody>
      </table>


<hr>




<%= link_to 'Add Cart Item', new_cart_path %>